.graph {
  width: 500px;
  height: 500px;
  border: 1px solid #aeaeae;
  background-color: #eaeaea;
  display: flex;
}
.bar {
  width: 80px;
  margin: 6px;
  display: inline-block;
  position: relative;
  background-color: #186933;
  align-self: flex-end;
  top: -15px;
}
.label {
  position: relative;
  top: 100%;
}
.title {
    position: absolute;
    font-size: x-large;
  }