
.edit {
    font: 1em Rubik;
    color: black;

    // background properties
    background-color: #122f12;
    height: 100%;

    .center-panel {
        background-color: #cecece;
        display: flex;
        max-width: 66%;
        margin-right: auto;
        margin-left: auto;
        min-height: 100rem; // 100vh;
        box-shadow: -10px 0px 100px black, 10px 0px 100px black;
        flex-direction: column;

        .edit-title {
            justify-content: center;
            display: flex;
            font-size: x-large;
        }
        
        .playlist-embed {
            display: flex;
            justify-content: center;
            margin: 1rem;
        }

        .btn {
            font-size: 14px;
            line-height: 1;
            border-radius: 500px;
            padding: 18px 48px 16px;
            transition-property: background-color,border-color,color,box-shadow,filter;
            transition-duration: .3s;
            border-width: 0;
            letter-spacing: 2px;
            min-width: 160px;
            text-transform: uppercase;
            white-space: normal;

            display: inline-block;
            margin-bottom: 0;
            font-weight: 700;
            text-align: center;
            vertical-align: middle;
            touch-action: manipulation;
            cursor: pointer;

            // Custom
            margin-right: 25%;
            margin-left: 25%;
            //margin-top: 10rem;
        }

        .debug {
 
        }
    }
}