
.playlist-stats {
    font: 1em Rubik;
    color: black;

    // background properties
    background-color: #266626;;
    height: 100%;

    .center-panel {
        color: #c8c8c8;
        background-color: #202020;
        display: flex;
        max-width: 66%;
        margin-right: auto;
        margin-left: auto;
        min-height: 100rem; // 100vh;
        box-shadow: -200px 0px 1000px #0d0d0d7d, 200px -0px 1000px #0d0d0d7d;
        flex-direction: column;

        .edit-title {
            justify-content: center;
            display: flex;
            font-weight: 900;
            letter-spacing: -.02em;
            font-size: 48px;
            line-height: 1.2;
            margin: 1rem;
            color: #fff;
        }

        .edit-description {
            justify-content: center;
            display: flex;
            p {
                line-height: 1.5;
                font-size: large;
                text-align: center;
                max-width: 50%;
            }
        }

        .source-container {
            justify-content: center;
            display: flex;

            .source-select {
                border: 5px solid #828282;
                border-radius: 25px;
                width: 30rem;
                height: 40rem;
                overflow-y: scroll;
                white-space: nowrap;
                padding: 0.5rem;
                font-size: 1.5rem;
            }

            .source-select-dark {
                border: 5px solid #828282;
                border-radius: 25px;
                width: 30rem;
                height: 40rem;
                overflow-y: scroll;
                white-space: nowrap;
                padding: 0.5rem;
                font-size: 1.5rem;

                filter:alpha(opacity=35); /* IE */
                opacity: 0.35; /* Safari, Opera */
                -moz-opacity:0.35; /* FireFox */

                pointer-events: none
            }
            
            input{
                background-color: #828282;
            }
            input:checked {
                accent-color:#1c9f1c;
            }
        }

        .playlist-stat-block {
            padding: 1rem;

            .playlist-stat {
                border-style: solid;
                margin-bottom: 1rem;
                border-color: #1c9f1c;
                border-radius: 25px;
                background: #333;
                color: #fff;

                .stat-title {
                    font-size: 2rem;
                    font-weight: bold;
                    padding: 0.5rem;
                    padding-bottom: 0;
                }

                .stat-description {
                    padding: 0.5rem;
                    border-bottom: 1px;
                    border-color: white;
                    border-bottom-style: dashed;
                    font-size: large;
                }

                .top-ten-list-item {
                    padding-bottom: 0.5rem;
                }
            }
        }

        .btn {
            font-size: 14px;
            line-height: 1;
            border-radius: 500px;
            padding: 18px 48px 16px;
            transition-property: background-color,border-color,color,box-shadow,filter;
            transition-duration: .3s;
            border-width: 0;
            letter-spacing: 2px;
            min-width: 160px;
            text-transform: uppercase;
            white-space: normal;

            display: inline-block;
            margin-bottom: 0;
            font-weight: 700;
            text-align: center;
            vertical-align: middle;
            touch-action: manipulation;
            cursor: pointer;

            // Custom
            margin-right: 25%;
            margin-left: 25%;
            margin-top: 2rem;
        }
        .btn:hover {
            background-color: #1ed760;
        }
        
        // This is just at the bottom for some reason, I guess it could be hidden
        .debug { 
            margin-top: 30rem;
        }
    }
}